<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="WCFRESTReportingservice.Service1.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehaviour" name="WCFRESTReportingservice.RESTReportingservice">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="WCFRESTReportingservice.IWCFRESTEmployeeservice" />
      </service>
      <!--<service name="WCFRESTReportingservice.Service1">
        <endpoint address="" binding="customBinding" bindingConfiguration="WCFRESTReportingservice.Service1.customBinding0"
          contract="WCFRESTReportingservice.Service1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>-->
    </services>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />





    <!--=================-->
    <!--===XML RESP===-->

    <!--WCF AND CORS(Cross Origin resource Sharing): 
  “NO ‘ACCESS-CONTROL-ALLOW-ORIGIN’ HEADER IS PRESENT ON THE REQUESTED RESOURCE”
  Issue in accessing the service from a App outside of service domain
  [WCFREST service URL invoke from a another Web app caused below error]
  
  GET http://localhost/WCFRESTReportingserviceEndpointsHostedIIS/WCFRESTReportingservice.svc/empbyid/?Id=3 send @ VM173:9172jQuery.extend.ajax @ VM173:8653(anonymous function) @ WCFReport:59jQuery.event.dispatch @ jquery-2.2.0.js:4732elemData.handle @ jquery-2.2.0.js:4544
WCFReport:1 XMLHttpRequest cannot load http://localhost/WCFRESTReportingserviceEndpointsHostedIIS/WCFRESTReportingservice.svc/empbyid/?Id=3. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:49349' is therefore not allowed access. The response had HTTP status code 401.
   
   Refereed this to solve-->
    <!--https://theagilecoder.wordpress.com/2014/07/07/wcf-and-cors-no-access-control-allow-origin-header-is-present-on-the-requested-resource/-->

    <!--But again failed while trying to access the service or resource from the website -Access denied error from Webserver
    Error below
    GET http://localhost/WCFRESTReportingserviceEndpointsHostedIIS/WCFRESTReportingservice.svc/empbyid/?Id=3 401 (Unauthorized)send @ VM173:9172jQuery.extend.ajax @ VM173:8653(anonymous function) @ WCFReport:59jQuery.event.dispatch @ jquery-2.2.0.js:4732elemData.handle @ jquery-2.2.0.js:4544
browserLink?_=1455278215855:62 WebSocket connection to 'ws://localhost:49546/5773a91c3d8748419bba9dc36004031a/browserLinkSignalR/connect?transport=webSockets&connectionToken=AQAAANCMnd8BFdERjHoAwE%2FCl%2BsBAAAA2WhOVNCy5kWB2xWy3NocPwAAAAACAAAAAAAQZgAAAAEAACAAAAA62qptHSIS7rINPZsfdiPNdr0ppoPSfNN2qnDBKcea6gAAAAAOgAAAAAIAACAAAACapddKRUp77D0SU3lMAIOS%2FP%2FgOtsjefn608yXL3A63zAAAACL2ap5NvcISIPq1115KncXBPh5GZPQAiqBbB3EEW2%2Besw7SmcC7gndUZccZhYnXcxAAAAAXnrN8sTO8YvMnXpTTUdWHksvnfPQ2BHN4wKAmHfhYkFBNb8xNxBBlMiOBzbV4OlqEftScelgbbefr%2FHmyVTXFQ%3D%3D&requestUrl=http%3A%2F%2Flocalhost%3A49349%2FWCFReport&browserName=Chrome&userAgent=Mozilla%2F5.0+(Windows+NT+6.3%3B+WOW64)+AppleWebKit%2F537.36+(KHTML%2C+like+Gecko)+Chrome%2F47.0.2526.111+Safari%2F537.36&tid=10' failed: WebSocket is closed before the connection is established.-->

    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type " />
        <add name="Access-Control-Allow-Methods" value="POST,GET,PUT,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>-->
    
    <!--==================-->


  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="WCFEmployee_CFEXDB" connectionString="data source=Siraj;initial catalog=TESTInternetMVC;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>